{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div id="frm">
  <h1>Register as a Fresher</h1><br> <br>
<a href="/fresher"><img src="../static/offfer.png" alt=""></a> <br> <br>
<h1>Register as a Experienced</h1> <br> <br>
<a href=""><img src="../static/images.png" alt=""></a>
</div>
<style>
  #frm{
    width: 80%;
    margin: auto;
    text-align: center;
  }
img:hover{
  transform: scale(1.5);
  border-radius: 100%;
  background-color: aquamarine;
  transition: 2s;
  margin: 50px;
}
h1{
  display: inline-block;
}
h1:hover{
  color: red;
  transition: 2s;
  transform: scale(1.5);
}

</style>
{% endblock body %}